<template name="header">
  <div class="header-edit">

    <div class="topbar"></div>
    <div class="header-baseline">

      <div class="header-grid">
        <div class="chart-slug">
          <input type="text" name="slug" class="input-slug-edit" placeholder="{{ Rubrik }}" value="{{ Rubrik }}">
        </div>

        <div class="header-edit-nav">
          <h2 class="header-help">Hjälp</h2>
          <h2 class="header-list"><a href="/list">Arkiv</a></h2>
          <h2 class="header-new"><a href="/new">Ny graf</a></h2>
        </div>
      </div>

    </div>
  </div>
</template>
